* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
}

.fixed {
  position: sticky;
  top: 0;
  z-index: 5;
}

/* footer */

footer {
  padding: 10px;
  margin-top: 10px;
  background-color: aliceblue;
  text-align: center;
}
