* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
}

.header {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 3px gray;
  position: sticky;
  top: 0;
  background-color: white;
}

.header,
.user-icon,
.logo,
.search-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo,
.user-icon {
  width: 25%;
}

.search-component {
  width: 40%;
}

.logo > img {
  width: 40%;
}

.user-fa {
  width: 20%;
  height: 20%;
}
