.card {
  width: 100%;
  height: 60vh;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 50%;
}

.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-about {
  width: 100%;
  height: 50%;
  padding: 20px;
  text-align: left;
  background-color: rgb(244, 226, 229);
  color: rgb(36, 36, 39);
}

.currentAim {
  margin-top: 20px;
}
