.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 100%;
}

.search-bar input {
  padding: 10px 5px;
  width: 70%;
  font-size: 18px;
}

.search-bar button {
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 18px;
}
