.card {
  width: 100%;
  height: 70vh;
  box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.5s all;
}

.card-image {
  width: 100%;
  height: 55%;
}

.card-image > img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.card-about {
  width: 100%;
  height: 45%;
  padding: 20px;
  text-align: left;
  background-color: #457b9d;
  color: white;
}

.name {
  font-size: 30px;
  color: #faedcd;
  padding: 5px 0;
  text-transform: capitalize;
}

.location {
  color: #ccd5ae;
  text-transform: capitalize;
}

.company {
  margin: 20px 0 5px 0;
  color: black;
  text-transform: capitalize;
}

.repos {
  color: black;
  font-weight: 550;
}

.card:hover {
  box-shadow: 3px 3px 5px black;
  transform: translate(0, -10px);
  transition-delay: 0.2s;
}
